
/*内页面css开始*/
/*content外框*/
.newsbox {
	margin: auto;
	height: 1000 px;
	background: #FFFFFF;
}

.block {
	margin: 0 auto;
}
/*位置*/
#path{
	width: 100%;
	text-align: left;
	font-weight: normal;
	padding-top:20px;
}
#path  a:hover {
	
	/*padding-left:10px;*/
	color: #0B98FF;
	text-decoration: underline;
}
 #info{
	text-align:center;
	border-bottom: 1px solid #eee;
	margin-bottom: 10px;
	padding-bottom: 10px;
	}
/*ssss*/
 #info span {
	display:inline-block;
	margin:0 auto;
	font-size:12px;
	color:#666;
	line-height: 25px;
}
/*h1标题*/
.newsnr h1.newstitle {
	text-align: center;
	font-size: 22px;
	line-height: 56px;
	font-weight: normal;
}

#a-color {
	font-weight: normal;
	color: #5f5f5f;
}
/*文章内容*/
.newsnr p.newsxx {
	text-align: center;
	font-size: 12px;
    text-indent: 2em;
	color: #505050;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;

}

.newsnr .content {
	/* padding-left: 100px;
    padding-right:150px; */
    padding: 20px 0;
    margin: 0 auto;
    width: 900px;
    font-size: 14px;
    line-height: 20px;
}

.newsnr .content img {
	max-width: 850px;
	overflow: hidden;
	/*width: expression(document.body.clientWidth>980?"980px":"auto");*/
}

.newsnr .content .fenxiang {
	display: block;
	height: 25px;
	margin: 10px 0;
}