

div {
    vertical-align: top;
}

.leftbig {
    width: 700px;
    display: inline-block;
}
.leftsmall {
    border: solid #dec19e 10px ;
    width: 97%;
}
.rightbig {
    width: 300px;
    display: inline-block;
}
.rightsmall {
    width: 97%;
    display: block;
}
.content {
    padding-top:  0px;
    border: solid 1px ;
    margin:  7px;
    background: #ffffff;
    display: block;
    height: 1000px;
}
.content .head {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.33);
    width: 98%;
    top: 0;
    padding: 2px 5px 2px 5px;
    border: 1px solid #e0e0e0;
}
.content .head h3 {
    display: inline-block;
    font-size: 18px;
    color: #032b83;
    vertical-align: middle;
}
.content .head .more {
    float: right;
}
.content .head .more .more-txt{
    font-size: 12px;
    font-weight: bolder;
    vertical-align: middle;
    color: #032b83;
    text-decoration: none;
    margin-top: 5px;
}

