

div {
    vertical-align: top;
}

.leftbig {
    width: 700px;
    display: inline-block;
    padding-top: 2px;
}

.leftsmall1 {
    margin: 3px;
    /* border: solid #032b83 1px; */
    /* border-radius: 5px; */
    /* width: 97%; */
}

.leftsmall2 {
    margin: 3px;
    /* border: solid #032b83 1px; */
    /* border-radius: 5px; */
    /* width: 97%; */
    height: 232px;
}

.leftsmall3 {
    margin: 3px;
    /* border: solid #032b83 1px; */
    border-radius: 5px;
    /* width: 97%; */
    height: 232px;
}

.leftsmall_half {
    margin: 5px 0 5px 0 ;
    width:48%;
    display: inline-block;
    border-radius: 3px;
}


.rightbig {
    margin: 3px 3px 0px 3px;
    /* border: solid #032b83 1px; */
    border-radius: 5px;
    width: 300px;
    height: 723Px;
    display: inline-block;
}
.rightsmall {
    width: 100%;
    display: block;
}

.board {
    height: 240px;
    margin-bottom: 2px;
    /* border-bottom: solid 1px #032b83; */
}

.rightsmall .head {
    margin-top: 2px;
    margin-left: 3px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.11);
    border-radius: 4px;
    width: 94%;
    top: 0;
    padding: 2px 5px 2px 5px;
    border: 1px solid #e0e0e0;
}

.board .boardtext {
    font-size: 14px;
    line-height: 20px;
    margin: 4px;
    padding: 6px;
    border: 1px solid #dddee1;
    border-radius: 0 0 4px 4px;
    height: 185px;
}

.onlinetest {
    /* margin-top: 15px; */
    text-align: center;
    vertical-align: middle;
    background: url('../img/blue.png');
    height: 60px;
    line-height: 60px;
    /* font-weight: bold; */
    margin: 0 4px;
    color: #ffffff;
    font-size: 24px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.downloadcenter {
    text-align: center;
    vertical-align: middle;
    background: url('../img/blue.png');
    height: 60px;
    margin: 0 4px;
    line-height: 60px;
    color: #ffffff;
    font-size: 24px;
}

.yuandianforum {
    text-align: center;
    /* padding-top: 20px; */
    background: url('../img/red.png');
    height: 60px;
    margin: 0 4px;
    line-height: 60px;
    color: #ffffff;
    font-size: 24px;
    margin-bottom: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.friendlink {
    margin: 4px;
    /* padding-top: 10px; */
    /* display: block; */
    border: 1px solid #dddee1;
    border-radius: 4px;
    text-align: center;
}

.friendlink img {
    display: inline-block;
    height: 60px;
    margin: 5px 0;
}

.friendlink p {
    vertical-align: top;
    color: #000000;
    /* display: inline-block; */
    font-size: 16px;
    width: 160px;
    line-height: 70px;
    text-align: center;
    float: right;
}

.content {
    position: relative;
    padding-top:  0px;
    margin: 5px;
    border-radius: 5px;
    background: #ffffff;
    /* box-shadow: 0px 0px 8px #000000; */
    display: block;
}

.leftbig .head {
    margin-top: 2px;
    margin-left: 3px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.11);
    /* border-bottom-right-radius: 15px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 15px;
    border-top-left-radius: 5px; */
    border-radius: 4px;
    /* width: 97%; */
    top: 0;
    padding: 2px 5px 2px 5px;
    border: 1px solid #e0e0e0;
}
.content .head h3 {
    margin-left: 5px;
    margin-bottom: 3px;
    display: inline-block;
    font-weight: normal;
    font-size: 16px;
    color: #0d0d0d;
    vertical-align: middle;
}

.content .head h3 span {
    color: #619fe6;
    font-size: 17px;
}
.content .head .more {
    vertical-align: middle;
    float: right;
    font-weight: normal;
    font-size: 13px;
    color: #0d0d0d;
    text-decoration: none;
    margin-top: 5px;
}

.content .head .more:hover {
    color: blue;
}
.content .head .more span {
    font-size: 16px;
}

.content .imgnews {
    display: block;
}

.content .imgnews .newsimg {
    width: 35%;
    display: inline-block;
}

.content .imgnews .newstitle {
    margin-top: 10px;
    display: inline-block;
    width: 63%;
}

.content .imgnews .newstitle li {
    padding: 1px;
}

.newstitleclicked {
    /*
    background: #7f9390;
    box-shadow: 0px 0px 5px #2b2b2b;
    border: 5px;
    border-radius: 3px;
    padding: 3px;
    */
    list-style-type: none;
    font-size: 15px;
}

.newstitleclicked span {
    font-size: 22px;
}

.newstitleclicked a {
    text-decoration: none;
    color: #032b83;
    vertical-align: middle;
}

.newstitleclicked p {
    display: inline-block;
    float: right;
    right: 0px;
    font-size: 16px;
}

.imgnews .newsli p {
    display: inline-block;
    float: right;
    right: 0px;
}

.imgnews .newsli {
    list-style-type: none;
    font-size: 14px;
    text-decoration: none;
    color: #333;
    vertical-align: middle;
}

.imgnews .newsli span {
    font-size: 18px;
}

.imgnews .newsli a {
    text-decoration: none;
    color: #333;
    vertical-align: middle;
}

.textnews {
    /* width: 98%; */
    vertical-align: top;
}

.textnews .news1 {
    width: 93%;
    padding: 5px 5px 5px 12px;
    display: inline-block;
}



.textnews li {
    display: block;
    list-style-type: none;
    font-size: 13px;
    text-decoration: none;
    color: #333;
    vertical-align: middle;
    padding: 1px;
    width: 100%;
}

.textnews li p {
    display: inline-block;
    float: right;
    right: 0px;
}

.textnews a {
    text-decoration: none;
    color: #333;
    vertical-align: middle;
}

.leftbig .line1 {
    display: inline-block;
    background: url("../img/slinegrey.png") repeat-y;
    height: 225px;
    width: 10px;
    margin-top: 10px;
}
.leftbig .line2 {
    display: inline-block;
    background: url("../img/slinegrey.png") repeat-y;
    height: 325px;
    width: 10px;
    margin-top: 10px;
}
.leftbig .childrennews {
    /*
    border-left:1px solid #e0e0e0;
    border-top:1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    */
    width:96%;
    margin-top: 8px;
    margin-left: 3px;
    border: 1px solid #d0d0d0;

    border-top-left-radius: 8px;
    border-top-right-radius: 18px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.childrennews .head {
    margin-top: 2px;
    margin-left: 2px;
    margin-right: 2px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.11);
    border-top-left-radius: 8px;
    border-top-right-radius: 18px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 18px;
    top: 0;
    padding: 0px 5px 0px 5px;
    border: 1px solid #e0e0e0;
}
.childrennews .head h3 {
    margin-left: 4px;
    margin-bottom: 2px;
    display: inline-block;
    font-weight: normal;
    font-size: 13px;
    color: #0d0d0d;
    vertical-align: middle;
}

.childrennews .head h3 span {
    color: #619fe6;
    font-size: 14px;
}
.childrennews .head .more {
    vertical-align: middle;
    float: right;
    font-weight: normal;
    font-size: 12px;
    color: #0d0d0d;
    text-decoration: none;
    margin-top: 4px;
}

.childrennews .head .more:hover {
    color: blue;
}
.childrennews .head .more span {
    font-size: 13px;
}