


/*list页面 css开始*/
.listbox{ 
	margin:auto; 
	background:#FFFFFF; 
    overflow:hidden;
}
/*.block{
	 margin:0 auto;
}*/
#line{
	border-bottom: 1px solid #eee;
}
/*位置*/
#path{
	width: 100%;
	text-align: left;
	font-weight: normal;
	padding-top:20px;
	margin-left:10px;
	/*margin-top:10px;*/
}
#path  a:hover {
	color: #0B98FF;
	text-decoration: underline;
}
/*<a>颜色*/
.a-color {
	font-weight: normal;
	color: #5f5f5f;
}
#listtitle {
	text-align: center;
	font-size: 22px;
	line-height: 56px;
	font-weight: normal;
}
/*列表*/
#listnews{
    width: 920px;
    background:#fff;
    margin: 10px auto;
	/* float:left; */
}
#listnews ul li {
    list-style: none;
    height: 24px;
    line-height: 24px;
}
#listnews ul li a {
	text-decoration:none;
	color:#000;
	font-size:16px;
}
#listnews ul li a:hover {
    color: #0A89FF;
	text-decoration:underline;
}
#listnews ul li span {
	font-size:16px;
	color:#999;
	float:right;
}
#listnews ul li.dashed_line {
	margin-left:10px;
	margin-right:10px;
	margin-bottom:10px;
	height:10px;
	border-bottom:1px dotted black;
}
/*页码*/
div.page_normal {
	text-align:center;
	font-size:2px;
	height:25px;
	line-height:15px;
	overflow:hidden;
	clear:left;
	padding-top: 20px;
	padding-bottom: 20px;
	border-top: 1px solid #eee;   
}
.page_normal a,.page_normal .page_current,.page_normal .page_prev {
	margin-left:10px;
	padding:0 2px;
	border:1px solid #cdcdcd;
	border-radius:3px;
	height:19px;
	font-size:15px;
	text-align: center;
    line-height: 19px;
	display:inline-block;
}

.page_normal b {
	margin-left:10px;
	padding:0  2px;
	border:1px solid #cdcdcd;
	border-radius:3px;
	height:19px;
	font-size:15px;
	text-align: center;
    line-height: 19px;
	display:inline-block;
}
.page_normal a b {
	margin-left:0px;
	margin-right: 5px;
	padding:0;
	border:0;
	border-radius:3px;
	height:19px;
	font-size:15px;
	text-align: center;
    line-height: 19px;
	display:inline-block;
}

.page_normal a:hover {
	color:#ffffff;
	background-color:#0A89FF;
}
.page_normal a {
	color: #000000;
	text-decoration:none;
}
.page_normal .page_current {
	color:#ffffff;
	background-color:#0A89FF;
}
.page_normal .page_prev {
	color:#000000;
}
/*second_list  begin*/
.leftbig {

}

.sec_container{
    margin: auto;
    /*height: 1000 px;*/
    background: #FFFFFF;
}

.contest {
    margin: 10px auto;
    /* width: 97%; */
    /*height: 735px;*/
    width: 950px;
    /* display: inline-block; */
}
#id_title{
    text-align: left;
}
#id_end{
    text-align: right;
}
.contest_contain {
    margin: 0 auto;
    /* border: solid #032b83 1px; */
    border-radius: 5px;
    /* width: 97%; */
}
.contest .head {
    margin-top: 2px;
    margin-left: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.11);
    /* border-bottom-right-radius: 15px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 15px;
    border-top-left-radius: 5px; */
    border-radius: 4px;
    /* width: 97%; */
    top: 0;
    padding: 2px 5px 2px 5px;
    border: 1px solid #e0e0e0;
}
.contest .head h3 {
    /*margin-left: 5px;*/
    /*margin-bottom: 3px;*/
    text-align: left;
    display: inline-block;
    font-weight: normal;
    font-size: 16px;
    color: #0d0d0d;
    vertical-align: middle;
}
.contest .head h3 span {
    color: #619fe6;
    font-size: 17px;
}
.contest .head .more {
    vertical-align: middle;
    float: right;
    font-weight: normal;
    font-size: 13px;
    color: #0d0d0d;
    text-decoration: none;
    margin-top: 5px;
}

.contest .head .more:hover {
    color: blue;
}
.contest .head .more span {
    font-size: 16px;
}

.listbox2{
    margin: 0 auto;
    background:#FFFFFF;
    overflow:hidden;
}

/*second_list  end*/
/*list页面 css结束*/
