/*header footer css开始*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Segoe UI", "Microsoft YaHei", "Microsoft JhengHei", Tahoma, Geneva, Verdana, sans-serif, "Segoe UI Symbol";
}

a {
    text-decoration: none;
}

body hr {
    /*height:1px;*/
    height: 0px;
    border: none;
    color: #e0e0e0;
    /*border: 1px solid #eee;*/
}

body {
    margin: 0 auto;
    width: 1024px;
    /*background: #e8e8e8;*/
    background: #747d93;
}

/*html5*/
article, aside, dialog, footer, header, section, footer, nav, figure, menu {
    display: block;
}

.container {
    box-shadow: 0px 0px 10px #1b1b1b;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

footer {
    box-shadow: 0px 0px 10px #1b1b1b;
    width: 1014px;
    text-align: center;
    background: #7ed321;
    padding: 5px;
}

footer p {
    color: #ffffff;
    font-size: 14px;
    padding: 5px;
}
/* header */
header {
    top: 0px;
    position: relative;
    width: 100%;
    text-align: center;
}


/* nav */

.navbar {
    width: 100%;
    height: 0px;
    top: -44px;
    position: relative;
}
#nav {
    background: url("../img/opacity.png") repeat;
    color: #fff;
    z-index: 50;
    display: block;
    list-style-type: none;
    height: 40px;
    /*position: relative;
    float: left;*/
    width : 100%;
    left: 0;
    position: absolute;
}
#nav li {
    float: left;
    width: 20%;
    _display: inline;
    position: relative;
    z-index: 60;
    list-style-type: none;
    text-align: center;
}
#nav li a {
    width: 190px;
    display: block;
    line-height: 40px;
    font-size: 15px;
    color: rgb(0, 0, 0);
    /* font-weight: bold; */
    padding: 0px;
    text-decoration: none;
}
#nav li ul {
    background: #000;
    /*background: rgba(0, 0, 0, 0.7);*/
    position: absolute;
    top: 40px;
    width: 190px;
    z-index: 2;
    padding: 5px 0;
    display: none;
    list-style-type: none;
    background: url("../img/opacity.png") repeat;
}
#nav li ul li {
    text-align: center;
    float: none;
    display: block;
    padding: 0;
    margin: 0;
    list-style-type: none;
    transition: 0.3s;
}
#nav li ul li a {
    font-weight: normal;
    line-height: 26px;
    padding: 0px;
    font-size: 14px;
    color: rgb(0, 0, 0);
}
#nav li ul li:hover {
    margin-left: 10px;
}
#nav li.last ul {
    left: -77px;
}
/*header footer css结束*/


/*list页面 css开始*/
.listbox{ 
	margin:auto; 
	background:#FFFFFF; 
	overflow:hidden;
}
/*.block{
	 margin:0 auto;
}*/
#line{
	border-bottom: 1px solid #eee;
}
/*位置*/
#path{
	width: 100%;
	text-align: left;
	font-weight: normal;
	padding-top:20px;
	margin-left:10px;
	/*margin-top:10px;*/
}
#path  a:hover {
	color: #0B98FF;
	text-decoration: underline;
}
/*<a>颜色*/
#a-color {
	font-weight: normal;
	color: #5f5f5f;
}
#listtitle {
	text-align: center;
	font-size: 22px;
	line-height: 56px;
	font-weight: normal;
}
/*列表*/
#listnews{
	width:920px;
	background:#fff;
	float:left;
}
#listnews ul li {
	padding-left:120px;
	padding-right:0px;
}
#listnews ul li a {
	text-decoration:none;
	color:#000;
	font-size:16px;
}
#listnews ul li a:hover {
	color:red;
	text-decoration:underline;
}
#listnews ul li span {
	font-size:16px;
	color:#999;
	float:right;
}
#listnews ul li.dashed_line {
	margin-left:10px;
	margin-right:10px;
	margin-bottom:10px;
	height:10px;
	border-bottom:1px dotted black;
}
/*页码*/
div.page_normal {
	text-align:center;
	font-size:2px;
	height:25px;
	line-height:15px;
	overflow:hidden;
	clear:left;
	padding-top:20px;
	padding-bottom:5px;
	border-top: 1px solid #eee;   
}
.page_normal a,.page_normal .page_current,.page_normal .page_prev {
	margin-left:10px;
	padding:0px;
	border:1px solid #cdcdcd;
	border-radius:3px;
	width:15px;
	height:15px;
	font-size:15px;
	display:inline-block;
}
.page_normal a:hover {
	color:#ffffff;
	background-color:#0A89FF;
}
.page_normal a {
	color: #000000;
	text-decoration:none;
}
.page_normal .page_current {
	color:#ffffff;
	background-color:#0A89FF;
}
.page_normal .page_prev {
	color:#000000;
}
/*list页面 css结束*/